<app-header>
</app-header>
<app-slider></app-slider>

<section>
    <div class="container container2">
        <h4>About Us</h4>
        <hr>
        <p>
            U People Technologies LLC is a leading IT consulting company based in the United States. We specialize in providing expert guidance and support to businesses of all sizes and across all industries, helping them leverage technology to improve their operations,
            drive innovation, and stay competitive in an increasingly digital world. Our team of experienced IT consultants has deep expertise in a wide range of technologies and industries, allowing us to provide customized solutions tailored to meet
            the unique needs of each of our clients.
            <br> <br> At U People Technologies LLC, we are committed to delivering exceptional service and support to our clients, and to helping them achieve their technology goals. We pride ourselves on our deep technical expertise, our commitment to
            delivering innovative solutions, and our focus on building long-term partnerships with our clients. If you're looking for an experienced and reliable IT consulting partner to help you navigate the complex world of technology, look no further
            than U People Technologies LLC. Contact us today to learn more about our services and how we can help you achieve your technology goals.
        </p>
    </div>
</section>




<!-- <section>
    <div class="container container2">
        <h4>Wood Products</h4>
        <hr>
        <div id="cards_landscape_wrap-2">
            <div class="container container2">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-bod">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="../../assets/images/w2 (1).jpg" alt="" />
                                    </div>
                                    <div class="text-container container2">
                                        <h6>Centring Items</h6>
                                        <p>Manufacturer of Centering Sheet - Centering Sheets 3x2 Hire Basis</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-bod">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="../../assets/images/w2 (2).jpg" alt="" />
                                    </div>
                                    <div class="text-container container2">
                                        <h6>Neem</h6>
                                        <p>Manufacturer of <br> 5x4, 5x3, 4x3 3x2
                                            <br> Hire Basis
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-bod">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="../../assets/images/w1 (1).jpg" alt="" />
                                    </div>

                                    <div class="text-container container2">
                                        <h6>Babool</h6>
                                        <p>Manufacturer of <br> 3 1/2, 2, 4 1/2, 5 1/2
                                            <br> Hire Basis
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-bod">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="../../assets/images/w1 (2).jpg" alt="" />
                                    </div>
                                    <div class="text-container container2">
                                        <h6>Gary</h6>
                                        <p>Manufacturer of <br> 2x1, 3x1, 4x1 5x1
                                            <br> Hire Basis
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->


<section style="margin-bottom: 100px; ">
    <div class="container container2">
        <h4>Our Services</h4>
        <hr>

        <div class="row">
            <div class="col">
                <div class="card" style="width: 20rem; ">
                    <img src="../../assets/images/services/1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Manufacturing plants</h5>
                        <p class="card-text">We work closely with clients to develop long-term technology strategies that align with their business goals and objectives, ensuring that their IT investments are focused and effective.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/images/services/2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Production and woodcut</h5>
                        <p class="card-text">We help clients select and implement new hardware and software solutions that meet their specific needs, ensuring a smooth and seamless transition to new technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/images/services/3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Transport and forwarding</h5>
                        <p class="card-text">We review and analyze a client's existing IT infrastructure to identify areas of improvement and make recommendations for optimization, helping to ensure that their technology is running at peak performance.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/images/services/4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A competitive pricing</h5>
                        <p class="card-text">We help clients improve their cybersecurity posture by identifying and mitigating potential risks and vulnerabilities, helping to safeguard their data and protect against cyber threats.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <img src="../../assets/images/services/5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A competitive pricing</h5>
                        <p class="card-text">We assist clients in migrating their IT infrastructure to cloud-based solutions, which can offer greater flexibility, scalability, and cost savings, helping to future-proof their technology investments.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section style="margin-bottom: 100px; ">
    <div class="container container2">
        <h4>Application Development</h4>

        <hr>
        <p>At U People Technologies LLC, we offer comprehensive application development services to help businesses automate processes, improve efficiency, and achieve their goals. Our team of experienced developers and project managers work closely with
            clients to understand their unique needs and develop customized software solutions that meet their specific requirements. Whether you're looking to build a custom application, modernize your legacy systems, or develop a mobile or web application,
            we have the expertise and experience to help.</p>
        <!-- <div class="container container2">

            <div class="slider">
                <div class="slide-track">
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                    <div class="slide">
                        <img src="../../assets/images/app-dev/1.png" alt="">
                    </div>
                </div>
            </div>
        </div> -->


    </div>
</section>

<section>
    <div class="bg-image p-5 text-center shadow-1-strong   text-white" style="background-image: url('../../assets/images/tech2.png'); height: 350px;">
        <div style="margin-top: 50px;">
            <h1 class="mb-3 h2">Contact us today to get a free consultation!</h1>

            <p>
                U People Technologies has the services and solutions to help you achieve your business objectives. Contact us for a quick phone call to discuss your requirements.
            </p>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Free consultation</button>

        </div>
    </div>
</section>

<a href="#" class="floating" target="_blank">
    <i class="fa fa-whatsapp float-button"></i>
</a>
<!-- <a href="https://api.whatsapp.com/send?phone=0916302583224&text=Hello%21%20." class="floating" target="_blank">
    <i class="fa fa-whatsapp float-button"></i>
</a> -->
<!-- <a href="https://youtube.com/@rockingstar6399" class="youtube-floating" target="_blank">
    <i class="fa fa-youtube float-youtube-button"></i>
</a> -->

<app-footer></app-footer>