<app-header></app-header>

<!-- <img src="../../assets/images/contact-img.jpeg" class="contact-img">
    <div class="container container2">
        About Us
    </div> -->

<section>
    <div class="bg-image p-5 text-center shadow-1-strong   text-white" style="background-image: url('../../assets/images/contact.png'); width: 100%; ">
        <div style="margin-top: 50px;">
            <h1 class="mb-3 h2">Contact Us</h1>


        </div>
    </div>
</section>

<!-- <section>
    <div class="container container2">
<div class="row">
    <div class="col-md-6">
        <iframe src="" frameborder="0"></iframe>
    </div>
    <div class="col-md-6"></div>
</div>
    </div>
</section> -->

<section class="contact-us">
    <div class="container container2">
        <div class="row">

            <div class="col-lg-12">
                <div class="down-contact">
                    <div>
                        <p>Thank you for your interest in U People Technologies LLC. We would be delighted to hear from you and answer any questions you may have about our IT consulting services. You can contact us in several ways:</p>
                        <p>Phone: Call us at ******** to speak to one of our friendly representatives. Our phone lines are open Monday to Friday 8:00 AM - 6:00 PM EST. Email: Send us an email at <a href="mailto:hr@upeopletech.com">hr@upeopletech.com</a>                            and we will get back to you within one business day.
                        </p>
                        <p style="margin-bottom: 50px;">Contact Form: You can also reach out to us by filling out the contact form below. Please provide us with some information about your business and the IT consulting services you're interested in, and one of our team members will
                            contact you shortly.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="sidebar-item contact-form">
                                <div class="sidebar-heading">
                                    <h2>Send us a message</h2>
                                </div>
                                <div class="content">
                                    <form id="contact" action="" method="post">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="name" type="text" id="name" placeholder="Your name" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <fieldset>
                                                    <input name="email" type="text" id="email" placeholder="Your email" required="">
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <fieldset>
                                                    <input name="subject" type="text" id="subject" placeholder="Subject">
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <textarea name="message" rows="6" id="message" placeholder="Your Message" required=""></textarea>
                                                </fieldset>
                                            </div>
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="form-submit" class="main-button">Send
                                                        Message</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sidebar-item contact-information">
                                <div class="sidebar-heading">
                                    <h2>contact information</h2>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <span>PHONE NUMBER</span>
                                            <h6>+91 984812844</h6>
                                        </li>
                                        <li>
                                            <span>EMAIL ADDRESS</span>
                                            <h6>hr@upeopletech.com </h6>
                                        </li>
                                        <li>
                                            <span>STREET ADDRESS</span>
                                            <h6>123 sb street,
                                                <br>Hyderabad
                                            </h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="margin-top: 20px;"> At U People Technologies LLC, we are committed to providing exceptional service and support to our clients. We understand that every business has unique needs, and we work closely with each of our clients to develop customized IT solutions
                        that meet their specific requirements. Whether you're looking to upgrade your IT infrastructure, improve your cybersecurity posture, or migrate to the cloud, we have the expertise and experience to help.</p>
                    <p style="margin-bottom: 50px;">Thank you for considering U People Technologies LLC as your IT consulting partner. We look forward to hearing from you soon.

                    </p>
                    <div class="col-lg-12" style="margin-top: 20px; margin-bottom: 20px;">
                        <div id="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.136008886336!2d78.50957013571713!3d17.357187199497798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9867a92b3b73%3A0xe80cc681119d35db!2sAarthi%20Apartment%2C%20Rd%20Number%2017%2C%20Jayakethan%20Nest%2C%20Laxminagar%20Colony%2C%20Saroor%20Nagar%20West%2C%20Saidabad%2C%20Hyderabad%2C%20Telangana%20500059!5e0!3m2!1sen!2sin!4v1686203206826!5m2!1sen!2sin"
                                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>


                    </div>
                </div>
            </div>
            <!-- </section> -->
        </div>
    </div>
</section>

<app-footer></app-footer>