/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'sans-serif', sans-serif;
}

body {
    font-family: 'sans-serif', sans-serif;
}

// @import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@300;700&display=swap');
.container2 {
    width: 80% !important;
}